html,body {
  height: 100%;
}

body {
  position: relative;
}

 .navbar-toggler:focus, .navbar-toggler:active {
    outline: none;
    box-shadow: none;
  }

.navbar {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.navbar-hide {
    pointer-events: none;
    opacity: 0;
}

.anchor {
  padding-top: 40px; 
  margin-top: -40px;
}


/* RESPONSIVE TYPOGRAPHY */
/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */

h1 {
    font-size: 2.4rem;
}

small {
    font-size: 1rem;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    h1 {
        font-size: 2.4rem;
    }
}
@media (min-width: 576px) {
    small {
        font-size: 1rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    h1 {
        font-size: 2.4rem;
    }
}

@media (min-width: 768px) {
    small {
      font-size: 1rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    h1 {
        font-size: 3rem;
      }
}


@media (min-width: 992px) {
    small {
        font-size: 1.2rem;
    }
}



/*
@media (max-width: 320px) {
.body {
      width: 90%;   
     }
}
*/

/* html {
  scroll-behavior: smooth;
}
*/
